<body>
  <h1>Apresentação</h1>
  <div id="gabriel" class="curriculo">
    <ul>
      <li><b class = fonte>Nome:</b> Gabriel do Santos Ferreira</li>
      <li><b class = fonte>Curso:</b> Desenvolvimento de Sistemas</li>
      <li><b class = fonte>Objetivo Profissional:</b></li>
      <li><b class = fonte>Hobbies:</b> Jogar, assistir filmes e estudar</li>
      <li><b class = fonte>Contato linkedin:</b> https://www.linkedin.com/in/gabriel-ferreira-40403b21a</li>
      <li><b class = fonte>Github:</b> https://github.com/Bielsanfe</li>
    </ul>
  </div>

  <div id="gustavo" class="curriculo">
    <ul>
      <li><b class = fonte>Nome:</b> Gustavo Henrique Gomes Azevedo</li>
      <li><b class = fonte>Curso:</b> Desenvolvimento de Sistemas</li>
      <li><b class = fonte>Objetivo Profissional:</b> Me desenvolver dentro da área de programação e participar de grandes projetos</li>
      <li><b class = fonte>Hobbies:</b> Estudar, ouvir música e jogar</li>
      <li><b class = fonte>Contato linkedin:</b> https://www.linkedin.com/in/gustavo-azevedo-924339249</li>
      <li><b class = fonte>Github:</b> https://github.com/Azevedo987</li>
    </ul>
  </div>
</body>
<router-outlet></router-outlet>
